{% extends "::base.html.twig" %}

{% block title %}AppBundle:Author:authorList{% endblock %}
{% block main %}
    {%for a in authors%}
        <div>
            <a href="{{path("authorDetail", {"id" : a.id})}}"><img src="{{a.image.url}}"/></a>
        <ul>
            <li>{{a.name}}</li>
            <li>{{a.firstname}}</li>
            <li>{{a.dateofbirth | date('Y/m/d')}}</li>
            <li>{{a.biography}}</li>           
        </ul>
        </div>
    {%endfor%}
{% endblock %}
